---
---
-var i = 1
-var description_ru = "Это не простой сервер по geometry dash на говно хосте, сервера которого не выдержат и пяти аккаунтов в топе, это приватный сервер, созданный на HalogenHost. Здесь хорошая защита от спаммеров и поэтому сервер защищён от ддосов, как и оригинальный сервер. На сервере в дискорде вполне много человек, однако уровней до сих пор мало из-за чего критерии рейта до сих пор низкие, так что даже средние креаторы могут создавать что-то своими лапками";
-var description_eng = "This is not a simple geometry dash server on a shitty host whose servers can't stand even five accounts in the top, this is a private server created on HalogenHost. There is good protection against spammers and therefore the server is protected from ddos, like the original server. There are quite a lot of people on the discord server, but there are still few levels, which is why the rate criteria are still low, so even average creators can create something with their paws";
mixin level(name)
	if i == 1
		img.halloffame.active(src="img/halloffame/"+name+".png" alt="level "+i)
	else
		img.halloffame(src="img/halloffame/"+name+".png" alt="level "+i)
	-i = i + 1
section
	+level("outline")
	+level("arti")
	+level("retrobreaker")
	h1(data-ru="Добро пожаловать на WowbinGDPS!" data-eng="Welcome to WowbinGDPS!")
	p(data-ru=description_ru data-eng=description_eng)
script(src="scripts/images.js") 