---
---
mixin mod(name, mod_level)
	li
		img.moderator(src="img/mods/"+name+".png", alt=name)
		h2= name
		img.badge(src="img/mods/mod_badge_" + mod_level + ".png")
section.list
	ul
		+mod("arti",2)
		+mod("wowbin",2)
		+mod('lilis',2)
		+mod('eggephant',2)
		+mod('omentudifoul',1)