* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #333;
  color: #f2f2f2;
  font-family: Helvatica, Roboto, Arial, sans-serif;
  text-align: center;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
nav {
  z-index: 10;
  align-items: center;
  background-color: #222;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem;
}
nav * {
  margin: 0.3rem;
}
nav a {
  text-decoration: none;
}
a {
  color: #f2f2f2;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #85c8ff;
  text-shadow: 0 0 1rem #3ca1ff;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main {
  margin-top: 6rem;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
img.halloffame {
  opacity: 0;
  -ms-filter: brightness(0);
  -webkit-filter: brightness(0);
  filter: brightness(0);
  border-radius: 0.5rem;
  position: fixed;
  top: -100vh;
  width: 44vw;
  -moz-transition: 2s filter;
  -o-transition: 2s filter;
  -webkit-transition: 2s filter;
  transition: 2s filter;
}
img.halloffame.active {
  opacity: 1;
  position: static;
  top: 0;
  display: inline;
  margin-bottom: 2rem;
  -moz-transition: 2s filter;
  -o-transition: 2s filter;
  -webkit-transition: 2s filter;
  transition: 2s filter;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}
section:not(.list) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #222;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  width: calc(60vw - 2rem);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: calc(((100 - 60) / 2 * 1vw) - (1.7rem / 2));
}
footer {
  padding: 1rem;
  background-color: #222;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}
footer * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
h1,
h2,
h3 {
  text-transform: capitalize;
}
section.dl li:nth-child(1) h2 {
  background: linear-gradient(to right, #ffa600 0%, #fff600 100%);
  text-shadow: -0.1rem -0.1rem 2rem rgba(255,166,0,0.502), 0.1rem 0.1rem 2rem rgba(255,230,0,0.502);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}
section.dl li:nth-child(2) h2 {
  background: linear-gradient(to left, #8cc1ca 0%, #8a88ff 100%);
  text-shadow: -0.1rem -0.1rem 2rem rgba(138,136,255,0.502), 0.1rem 0.1rem 2rem rgba(140,193,202,0.502);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}
li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 1rem;
  margin-left: calc((100 - 60) / 2 * 1vw);
  align-items: center;
  background-color: #222;
  border-radius: 0.5rem;
  width: 60vw;
}
li h2 {
  display: inline;
}
li span {
  align-items: center;
  text-align: center;
  align-items: center;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
li span.img {
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
}
li span img {
  display: inline;
  width: 20vw;
  border-radius: 0.5rem;
}
.error {
  text-shadow: 0px 0px #f63, 0rem 0rem hsla(0,100%,60%,1), 0.06666666666666667rem 0.06666666666666667rem hsla(2,100%,60%,1), 0.13333333333333333rem 0.13333333333333333rem hsla(4,100%,60%,1), 0.2rem 0.2rem hsla(6,100%,60%,1), 0.26666666666666666rem 0.26666666666666666rem hsla(8,100%,60%,1), 0.3333333333333333rem 0.3333333333333333rem hsla(10,100%,60%,1), 0.4rem 0.4rem hsla(12,100%,60%,1), 0.4666666666666667rem 0.4666666666666667rem hsla(14,100%,60%,1), 0.5333333333333333rem 0.5333333333333333rem hsla(16,100%,60%,1), 0.6rem 0.6rem hsla(18,100%,60%,1), 0.6666666666666666rem 0.6666666666666666rem hsla(20,100%,60%,1), 0.7333333333333333rem 0.7333333333333333rem hsla(22,100%,60%,1), 0.8rem 0.8rem hsla(24,100%,60%,1), 0.8666666666666667rem 0.8666666666666667rem hsla(26,100%,60%,1), 0.9333333333333333rem 0.9333333333333333rem hsla(28,100%,60%,1), 1rem 1rem hsla(30,100%,60%,1);
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.moderator {
  width: 10rem;
  border-radius: 5rem;
  margin: 1rem;
  margin-top: 0.7rem;
}
.badge {
  width: 2rem;
  margin: 1rem;
}
@media (max-width: 768px) {
  .hamburger {
    position: fixed;
    left: 1rem;
    top: 1rem;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger ~ a {
    display: inline-block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger .line {
    width: 25px;
    height: 2.5px;
    background-color: #ecf0f1;
    display: block;
    margin: 4px auto;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 2.5px solid transparent;
    top: calc(50% - 17.5px);
    left: calc(50% - 17.5px);
    border-radius: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.is-active {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  .hamburger.is-active ~ a {
    display: inline;
    font-size: 1rem;
  }
  .hamburger.is-active:before {
    border: 2.5px solid #ecf0f1;
  }
  .hamburger.is-active .line {
    width: 17.5px;
  }
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .line:nth-child(1) {
    -moz-transform: translateY(6.5px) rotate(-45deg);
    -ms-transform: translateY(6.5px) rotate(-45deg);
    -o-transform: translateY(6.5px) rotate(-45deg);
    -webkit-transform: translateY(6.5px) rotate(-45deg);
    transform: translateY(6.5px) rotate(-45deg);
  }
  .hamburger.is-active .line:nth-child(3) {
    -moz-transform: translateY(-6.5px) rotate(45deg);
    -ms-transform: translateY(-6.5px) rotate(45deg);
    -o-transform: translateY(-6.5px) rotate(45deg);
    -webkit-transform: translateY(-6.5px) rotate(45deg);
    transform: translateY(-6.5px) rotate(45deg);
  }
  li {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem;
    width: auto;
  }
  li span {
    padding: 0;
    padding-bottom: 1rem;
    min-width: 90vw;
  }
  li span img {
    width: 90vw;
  }
  section:not(.dl) {
    min-width: 90vw;
    padding: 0.3rem;
    margin-left: calc(5vw - 0.15rem);
  }
  img.halloffame {
    width: 90vw;
  }
  nav {
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
  nav a {
    display: none;
    font-size: 0px;
    -moz-transform: translateX(-2.5vw);
    -ms-transform: translateX(-2.5vw);
    -o-transform: translateX(-2.5vw);
    -webkit-transform: translateX(-2.5vw);
    transform: translateX(-2.5vw);
  }
  nav * {
    margin-left: 0;
    margin-right: 0;
  }
  footer {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
