---
---
@import "_styl/*";
*
	margin: 0
	padding: 0
html,body
	background-color color-bg-main
	color font-color
	display flex
	flex-direction column
	font-family Helvatica, Roboto, Arial, sans-serif
	height 100%
	text-align center
	user-select none
nav
	align-items center
	background-color color-bg
	display flex
	left 0
	padding 1.3rem
	position fixed
	top 0
	width 100%
	z-index 10
	*
		margin .3rem
	a
		text-decoration none
	#switchLang
		margin-top 0
		margin-bottom 0
		margin-left auto
		margin-right 3rem
		justify-self flex-end
		*
			height 1.5rem
			transition .5s
		&:hover
			// text-shadow none
			filter brightness(2.2) grayscale(25%)
			transition .5s
a
	color font-color
	transition .5s
	&:hover
		color #85c8ff
		text-shadow 0 0 1rem #3ca1ff
		transition .5s
	&.buy
		gradient(to right, #28c 0%, #2c8 100%)
		background-size 200%
		background-position left
		padding .7rem
		text-decoration none
		border-radius .5rem
		margin-top 1rem
		&:hover
			text-shadow none
			color font-color
			background-position right
main
	flex 1 0 auto
	margin-top 6rem
img.halloffame
	opacity 0
	filter brightness(0)
	border-radius .5rem
	position fixed
	top -100vh
	width 44vw
	transition 2s filter
	&.active
		opacity 1
		position static
		top 0
		display inline
		margin-bottom 2rem
		transition 2s filter
		filter none
section:not(.list)
	display flex
	flex-direction column
	background-color color-bg
	padding 2rem
	margin 1rem
	border-radius .5rem
	width calc(60vw - 2rem)
	text-align center
	justify-content center
	align-items center
	margin-left calc(((100 - 60)/2*1vw) - (1.7rem/2))
footer
	padding 1rem
	background-color color-bg
	display flex
	flex 0
	flex-direction row
	align-items center
	*
		margin-left .5rem
		margin-right .5rem
h1,h2,h3
	text-transform capitalize
section.dl
	li
		&:nth-child(1)	h2
			gradient(to right, #ffa600 0%, #fff600 100%)
			text-shadow -.1rem -.1rem 2rem #ffa60080, .1rem .1rem 2rem #ffe60080
			color transparent
			background-clip text
		&:nth-child(2)	h2
			gradient(to left, #8cc1ca 0%, #8a88ff 100%)
			text-shadow -.1rem -.1rem 2rem #8a88ff80, .1rem .1rem 2rem #8cc1ca80
			color transparent
			background-clip text
li
	display flex
	padding-top .3rem
	padding-left .3rem
	padding-right .3rem
	margin 1rem
	margin-left calc((100 - 60)/2*1vw)
	align-items center
	background-color color-bg
	border-radius .5rem
	width 60vw
	h2
		display inline
	span
		align-items center
		text-align center
		align-items center
		flex 1
		&.img
			flex 0
		img
			display inline
			width 20vw
			border-radius .5rem
.error
	long-shadow #ff6633
	font-size 2rem
.moderator
	width 10rem
	border-radius 5rem
	margin 1rem
	margin-top 0.7rem
.badge
	width 2rem
	margin 1rem

@media(max-width 768px)
	.hamburger
		position fixed
		left .3rem
		top .3rem
		transition all 0.3s ease-in-out
		~ a
			font-size 0
			display inline-block
			margin 0
		~ #switchLang
			margin 0
			padding 0
			svg
				margin 0
				padding 0
				height 0
		&:hover
			cursor pointer
		.line
			width 25px
			height 2.5px
			background-color #ecf0f1
			display block
			margin 4px auto
			transition all 0.3s ease-in-out
		&:before
			content ""
			position absolute
			box-sizing border-box
			width 35px
			height 35px
			border 2.5px solid transparent
			top calc(50% - 17.5px)
			left calc(50% - 17.5px)
			border-radius 100%
			transition all 0.3s ease-in-out
		&.is-active
			transform translateX(5px)
			~ a
				font-size 1rem
				margin-top .3rem
				margin-bottom .3rem
			~ #switchLang svg
				height 1.5rem
			&:before
				border 2.5px solid #ecf0f1
			.line
				width 17.5px
				&:nth-child(2)
					opacity 0
				&:nth-child(1)
					transform translateY(6.5px) rotate(-45deg)
				&:nth-child(3)
					transform translateY(-6.5px) rotate(45deg)
	li
		flex-direction column
		margin 1rem
		width auto
		span
			padding 0
			padding-bottom 1rem
			min-width 90vw
			img
				width 90vw
	section:not(.dl)
		min-width 90vw
		padding .3rem
		margin-left calc(5vw - 0.15rem)
	img.halloffame
		width 90vw
	nav
		flex-direction column
		justify-content center
		a
			display none
			font-size 0px
			transform translateX(-2.5vw)
		*
			margin-left 0
			margin-right 0
	footer
		flex-direction column
@media (min-width 768px)
	.hamburger
		display none
